<% @title = "Список вопросов для теста '#{@test.title}' (#{@test.questions.count})" %>
<% flash.each do |level, message| %>
  <div class="alert alert-<%= level %>" style="margin: 5px; padding: 5px; background-color: #ffc5c5; border: 1px solid #f1a0a0; color: red"><%= message %></div>
<% end %>

<a href="<%= new_test_question_path %>">Добавить новый</a>
<%= render 'list', elements: @test.questions %>