<% @title = 'Добавление нового вопроса' %>
<%= form_with model: @question, url: "/tests/#{params[:test_id]}/questions", method: :post do |form| %>
  <p>
    <%= form.label :body, "Текст" %>
    <%= form.text_field :body %>
  </p>
  <p><%= form.submit %></p>
<% end %>
