<% @title = t '.title', title: @test_passage.test.title %>
<%= link_to '<< ' + t('.to_tests'), tests_path %>

<div class="test-result test-result-<%= @test_passage.passed? ? 'passed' : 'failed' %>">
  <div class="test-result-title"><%= @test_passage.passed? ? t('.result_passed') : t('.result_failed') %></div>
  <div class="test-result-description"><%= t '.result_percent', percent: @test_passage.percent_of_correct %></div>
</div>
