<li>
  <%= answer.body %>
  <%= link_to 'Подробнее', answer_path(answer) %>
  <%= link_to 'Изменить', edit_answer_path(answer) %>
  <%= link_to 'Удалить',
              answer_path(answer),
              method: :delete,
              data: { confirm: 'Вы действительно хотите удалить запись?'} %>
</li>