<li>
  <%= answer.body %>
  <%= link_to 'Подробнее', admin_answer_path(answer) %>
  <%= link_to 'Изменить', edit_admin_answer_path(answer) %>
  <%= link_to 'Удалить',
              admin_answer_path(answer),
              method: :delete,
              data: { confirm: 'Вы действительно хотите удалить запись?' } %>
</li>