<% @title = t('.title', name: @answer.body) %>
<p><%= @answer.question.body %></p>

<%= render 'form', answer: @answer %>

<%= link_to t('application.button.view'), admin_answer_path(@answer) %> |
<%= link_to t('application.button.back'), admin_question_path(@answer.question) %>
