/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

footer {
  margin-top: 20px;
  background-color: #cecece;
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 20px 0;
}

footer .footer-item {
  display: inline;
}

.flash {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;

  &-alert {
    background-color: #ffc5c5;
    border: 1px solid #f1a0a0;
    color: red
  }

  &-notice {
    background-color: #fdff85;
    border: 1px solid #ffa63545;
    color: #dc9c49
  }
}

.header {

  a {
    text-decoration: none;
    color: #4c4c4c;

    &:hover {
      text-decoration: underline;
      background-color: white;
      color: black;
    }
  }

  &-item {
    display: inline-block;
  }

  .logo {
    width: 60px;
    font-size: 36px;
    font-weight: 700;
  }

  .menu {
    margin-left: 80px;

    li {
      display: inline-block;
    }
  }

  .user, .logout {
    float: right;
    margin: 0 10px;
  }
}