<tr>
  <td>"<%= test.category.title %>".</td>
  <td>"<%= test.title %>".</td>
  <td>"<%= test.level %>".</td>
  <td><%= button_to t('tests.test.run'), start_test_path(test), method: :post %></td>
</tr>

